
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <br>
    <br>
    <br>
    <h1 class="text-center">Hola
      <span  *ngIf="!mostrarTitulo"> {{title}}
      </span>
    </h1>
    <p>Soy el Usuario {{usuario.nombre + ' '+ usuario.apellido}}
    {{1 + 10}}</p>
    <ul>
      <li *ngFor="let numero of arregloNumeros let i = index" >
       {{i +1}}.- Valor Arreglo {{numero}}
      </li>
    </ul>
  </div>
  <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>Bindings</h1>
      <h3> proprty bindings []</h3>
      <img [src]="imagenUrl" [alt]="'Tigre'" [width]="imagenWidh" >
      <p [style.color]="'red'"
         [style.background-color]="'black'"
         [innerText]="'Hola amigos'">
      </p>
      <div [innerHTML]="html"></div>
      <h3> Event Bindings ()</h3>
      <button class="btn btn-block btn-info" (click)="aumentarWidth($event)"> Aumentar Imagen</button>
      <button class="btn btn-block btn-info" (click)="restarWidth($event)"> restar Imagen</button>

      <h3> NmModel (two way data bindings) [()]</h3>

      <label for="width">Width</label>
      <input id="width" type = "Text" [(ngModel)]="imagenWidh">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
    </div>
  </div>

